<nav class="navbar position-absolute px-4 py-2">
    <a class="navbar-brand d-flex align-items-center" routerLink="/home">
      <img src="assets/logo1.jpg" alt="Logo" class="logo me-2">
      <!-- Global Printing & Packaging -->
    </a>
    <ul class="nav">
      <li class="nav-item"><a class="nav-link" routerLink="/home" routerLinkActive="active">Accueil</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/services" routerLinkActive="active">Services</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/engagement" routerLinkActive="active">Engagement</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/about" routerLinkActive="active">À propos</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
  </nav>
  